
body{
    background-color: gray;
    margin: 20px;
    padding: 20px;
  }
    header {
      background-color: #333;
      color: white;
      padding: 20px;
      text-align: center;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
      }
      ol {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
      }
      li{
        content: "•";
        color: white;
        margin-right: 10px;
        font-size: 20px;
      }
       .regresa{
        background-color: #333;
        display: inline;
        border-radius: 20px;
 text-align: right;
       }
      .regresa :hover  {
      
  background-color:#ff0000;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
      }

      .regresa > a {
        background-color: gray;
        border-radius: 20px;
        color: #000;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
      }

      .siguente{
        background-color: #333;
        display: inline;
        border-radius: 20px;
 text-align: right;
      }

      .siguente :hover  {
      
        background-color:#ff0000;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 20px;
            }

            .siguente > a {
                background-color: gray;
                border-radius: 20px;
                color: #000;
                font-size: 20px;
                font-family: 'Courier New', Courier, monospace;
              }

              img{
                border-radius: 20px;
                width: 50%;
                height: 50%;
              }
              .elemento::before {
                content: "Primer programador";
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 10px;
                margin: 10px;
                background-color: rgba(0, 0, 255, 0.623);
                border: 1px solid #ccc;
                z-index: 1;
                content: attr(data-content);
                display: block;
                white-space: pre-wrap;
              }
