/* body{

    background-color: navajowhite;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav > ul > li{ 
      text-align: center;
      padding: 15px;
      color:transparent;
      display: inline;
      justify-content: center;
      margin-top: 20px;
   
  }

  .siguiente{
 margin: 20px;
 border-bottom: #333;
  }

  a{
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
  
  } */
body{
  background-color: gray;
}
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  ol {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }
  li:before {
    content: "•";
    color: white;
    margin-right: 10px;
  }

  .elemento-contect{
    position: relative;
  }
  .elemento::before {

    content : "historia de la programacion";
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: 1px solid #ccc;
    z-index: 1;
    content: attr(data-content);
    display: block;
    white-space: pre-wrap;
  }
  .elemento:hover::before {
    display: block;
  }
  /* link */
  .contenedor:hover {
    display: list-item;
    flex-wrap: wrap;
    display: inline;
    color: black;
  }
  .enlace {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #000ff0;
  }
  .enlace:hover + .contenido {
    display: block;
  }
  .contenido {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  img{
    width: 40%;
    height: 40%;
    border-radius: 35px 35px 35px 35px;
    display: block;
  }
  
  p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
  }
  .link{
    font-size: 30px;
    border-bottom: #000ff0;
    color: #333;
  }

  .elemento {
    position: relative;
  }
  .elemento::before {
    content: "Primer programador";
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 255, 0.623);
    border: 1px solid #ccc;
    z-index: 1;
    content: attr(data-content);
    display: block;
    white-space: pre-wrap;
  }
  .elemento:hover::before {
    display: block;
  }
  .siguente{
    background-color: #333;
    display: inline;
    border-radius: 20px;
text-align: right;
  }

  .siguente :hover  {
  
    background-color:#ff0000;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
        }

        .siguente > a {
            background-color: gray;
            border-radius: 20px;
            color: #000;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
          }



